<div class="list-card-container mt-2">
  <h2><%= @list.name %></h2>
  <hr>
  <div class="list-card">
    <% @list.bookmarks.each do |bookmark| %>
      <%= image_tag bookmark.movie.poster_url, width: '150x300' %>
      <div class="card-bookmark-infos">
        <div>
          <p>Title: <%= bookmark.movie.title %></p>
          <%# <%= bookmark.movie.overview %>
          <p>Comment: <%= bookmark.comment %></p>
          <p>Rating: <%= bookmark.movie.rating %></p>
        </div>
        <%= link_to 'Delete this bookmark', bookmark_path(bookmark), method: :delete, data: { confirm: 'Delete bookmark?' } %>
      </div>
    <% end %>
  </div>
  <%= link_to 'Create a Bookmark', new_list_bookmark_path(@list), class: 'btn btn-primary' %>
  <%= link_to 'Back to lists', lists_path, class: 'btn btn-primary'%>
</div>
